@page
@model UserDataAccounting.Web.Pages.DepartmentListModel
@{
    ViewData["Title"] = "Department";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Department</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var department in Model.DepartmentList)
                {
                    <tr>
                        <td>@department.Name</td>
                        <td>@department.Id</td>
                        <td class="text-center">
                            <form method="post">
                                <a asp-page="DepartmentDetail" asp-route-id="@department.Id" class="btn btn-sm btn-warning">Edit</a>
                                <button type="submit" asp-page-handler="DeleteDepartment" asp-route-id="@department.Id" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <a asp-page="DepartmentDetail" class="btn btn-lg btn-block btn-success">Create department</a>
        </div>
    </div>
</div>